body {
    background-color: lightblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    text-align: center;
}

h2 {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: peachpuff;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: black;
}

.navbar {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}

.menuh2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: peachpuff;
    text-align: center;
}

.menuh3 {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-align: center;
}

.menup {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: black;
    text-align: center;
}

.adress {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}



