body {
    background-color: lightblue;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: peachpuff;
    padding-top: 3%;
    padding-bottom: 1%;
}

p {
    font-family:Franklin Gothic Medium', 'Arial Narrow', Arial, sans-s'erif
    color: black;
}

.navbar {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
}

.menuh2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: peachpuff;
    text-align: center;
    padding-top: 3%;
    font-size: 85px;
}

.menuh3 {
    font-family: Imact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    text-align: center;
}

.menup {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    color: black;
    text-align: center;
}

.adress {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
}

.aboutus {
    font-family:Franklin Gothic Medium', 'Arial Narrow', Arial, sans-s'erif
    color: black;
    line-height: 250%;
}

